@import './constants/screen';

.root {
  background: #d1d1d1;
}

.myButton {
  margin: 10px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  
  &:hover {
    background-color: #333;
    color: #eee;
  }

  &_alternate {
    background-color: red;
  }
}

@media only screen and (min-width: $md) {
  .myButton {
    &_alternate {
      background-color: blue;
    }
  }
}

@media only screen and (min-width: $lg) {
  .myButton {
    &_alternate {
      background-color: green;
    }
  }
}